---
import ContactInfo from './ContactInfo.astro';
---
<section class="slider">
    <svg class="campaign-button-svg defs-only" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <symbol id="campaign-button-svg">
            <path d="M15.54 11.29 9.88 5.64a1 1 0 0 0-1.42 0 1 1 0 0 0 0 1.41l4.95 5L8.46 17a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.3 1 1 0 0 0 .71-.3l5.66-5.65a1 1 0 0 0 0-1.47Z"/>
        </symbol>
    </svg>
    <!-- Main slide -->
    <div class="slide">
        <div class="slide-half container">
            <ContactInfo />
        </div>
        <div class="slide-half slide-picture campaign0 container">
            <div class="row align-items-center">
                <div class="col-md-10 offset-md-1">
                    <img 
                    src="./img/c1p3landscapehasFull-min.jpg"
                    data-src="./img/c1p3landscapehasFull.jpg"
                    data-srcset="./img/c1p3landscapehasFull-lowq.jpg 500w, ./img/c1p3landscapehasFull.jpg 900w"
                    sizes="50vw"

                    alt="Ph: Boris Ovini<br />Brand: SKIMS"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p3landscapehasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p2has3x2-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p1has3x2-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p4landscapehasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p5landscapehasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c1p6landscapehasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <h2 class="swipe-panel">
            <a class="hover-wholeline-animation swipe-works">Swipe right</a> to see my works.<br>
            <a class="hover-wholeline-animation swipe-about">Click here</a> for more info about me.
        </h2>
    </div>
    <div class="slide">
        <!-- Teen Vogue -->
        <div class="slide-half slide-picture campaign1 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img 
                    src="./img/c11p1hasFull-min.jpg"
                    data-src="./img/c11p1hasFull.jpg"
                    data-srcset="./img/c11p1hasFull-lowq.jpg 500w, ./img/c11p1hasFull.jpg 900w" 
                    sizes="50vw"
                    
                    alt="For Teen Vogue<br />Ph: @chinxzam "
                    class="sliderimage zoomable lazyload blur-up 3-2" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c11p1hasFull-icon.jpg"

                        alt="For Teen Vogue<br />Ph: @chinxzam"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c11p2hasFull-icon.jpg"

                        alt="For Teen Vogue<br />Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c11p3hasFull-icon.jpg"

                        alt="For Teen Vogue<br />Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c11p5hasFull-icon.jpg"

                        alt="For Teen Vogue<br />Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c11p6hasFull-icon.jpg"

                        alt="For Teen Vogue<br />Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Asics -->
        <div class="slide-half slide-picture campaign2 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c2p4logohas3x2-min.jpg"
                    data-src="./img/c2p4logohas3x2.jpg"
                    data-srcset="./img/c2p4logohas3x2-lowq.jpg 500w, ./img/c2p4logohas3x2.jpg 900w"
                    sizes="50vw"

                    alt="Ph: Brandon Matthew<br />Brand: ASICS"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c2p4logohas3x2-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c2p1landscapehasFull-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c2p2has3x2-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c2p10landscapehasFull-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c2p5landscapehasFull-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="slide">
        <!-- Vinnie hayley -->
        <div class="slide-half slide-picture campaign3 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c14p1-min.jpg"
                    data-src="./img/c14p1.jpg"
                    data-srcset="./img/c14p1-lowq.jpg 500w, ./img/c14p1.jpg 900w"
                    sizes="50vw"

                    alt="Ph: Hayley Peace"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c14p1-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c14p2-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c14p3-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c14p4-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c14p5-icon.jpg"

                        alt="Ph: Brandon Matthew<br />Brand: ASICS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Christiane Beauty -->
        <div class="slide-half slide-picture campaign4 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c13p1hasFull-min.jpg"
                    data-src="./img/c13p1hasFull.jpg"
                    data-srcset="./img/c13p1hasFull-lowq.jpg 500w, ./img/c13p1hasFull.jpg 900w"
                    sizes="50vw"

                    alt="Ph: Chirstiane Baumgard"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c13p1hasFull-icon.jpg"

                        alt="Ph: Chirstiane Baumgard"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c13p2hasFull-icon.jpg"

                        alt="Ph: Chirstiane Baumgard"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c13p3hasFull-icon.jpg"

                        alt="Ph: Chirstiane Baumgard"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c13p4hasFull-icon.jpg"

                        alt="Ph: Chirstiane Baumgard"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c13p5hasFull-icon.jpg"

                        alt="Ph: Chirstiane Baumgard"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <!-- Solistice mag -->
        <div class="slide-half slide-picture campaign5 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img 
                    src="./img/c6p4has3x2-min.jpg"
                    data-src="./img/c6p4has3x2.jpg"
                    data-srcset="./img/c6p4has3x2-lowq.jpg 500w, ./img/c6p4has3x2.jpg 900w" 
                    sizes="50vw"
                    
                    alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                    class="sliderimage zoomable lazyload blur-up 3-2" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c6p4has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c6p2has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c6p1has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c6p3has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c6p5has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Cover story for Solstice Mag"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Chinazam Editorial -->
        <div class="slide-half slide-picture campaign6 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c9p1hasFull-min.jpg"
                    data-src="./img/c9p1hasFull.jpg"
                    data-srcset="./img/c9p1hasFull.jpg 500w, ./img/c9p1hasFull.jpg 900w"
                    sizes="50vw"

                    alt="Ph: @chinxzam"
                    class="sliderimage zoomable lazyload blur-up 3-2" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c9p6hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c9p7hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c9p8hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="slide">
        <!-- Hayley Colette -->
        <div class="slide-half slide-picture campaign7 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img 
                    src="./img/c3p1has3x2-min.jpg"
                    data-src="./img/c3p1has3x2.jpg"
                    data-srcset="./img/c3p1has3x2-lowq.jpg 500w, ./img/c3p1has3x2.jpg 900w" 
                    sizes="50vw"
                    
                    alt="Ph: Hayley Pease<br />Brand: Colette"
                    class="sliderimage zoomable lazyload blur-up 3-2" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c3p1has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Brand: Colette"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c3p2landscape-icon.jpg"

                        alt="Ph: Hayley Pease<br />Brand: Colette"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c3p4has3x2-icon.jpg"

                        alt="Ph: Hayley Pease<br />Brand: Colette"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Skims 2 
        <div class="slide-half slide-picture campaign8 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c4p3hasFull-min.jpg"
                    data-src="./img/c4p3hasFull.jpg"
                    data-srcset="./img/c4p3hasFull-lowq.jpg 500w, ./img/c4p3hasFull.jpg 900w"
                    sizes="50vw"

                    alt="Ph: Boris Ovini<br />Brand: SKIMS"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c4p3hasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c4p2hasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c4p1hasFull-icon.jpg"

                        alt="Ph: Boris Ovini<br />Brand: SKIMS"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        -->
        <!-- Chinazam 2nd Editorial -->
        <div class="slide-half slide-picture campaign8 container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <img
                    src="./img/c15p1hasFull-min.jpg"
                    data-src="./img/c15p1hasFull.jpg"
                    data-srcset="./img/c15p1hasFull-lowq.jpg 500w, ./img/c15p1hasFull.jpg 900w"
                    sizes="50vw"

                    alt="Ph: @chinxzam"
                    class="sliderimage zoomable lazyload blur-up" draggable="false" />
                    <div class="loadingimage-div">
                        <svg class="loadingimage-svg"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 297 297"><path d="M251.01 277.01h-17.68v-31.55c0-31.64-17.36-60.73-48.88-81.9-3.99-2.69-6.47-8.45-6.47-15.06s2.48-12.37 6.47-15.05c31.52-21.18 48.87-50.27 48.88-81.9V19.98H251a10 10 0 0 0 0-19.99H45.99a10 10 0 0 0 0 19.98h17.68v31.56c0 31.64 17.36 60.73 48.88 81.9 3.99 2.69 6.47 8.45 6.47 15.06 0 6.6-2.48 12.37-6.47 15.05-31.52 21.18-48.88 50.27-48.88 81.9v31.57H46a10 10 0 0 0 0 19.98h205.02a10 10 0 0 0 0-19.99zm-112.5-166.65a10 10 0 0 1 19.98 0v17.67a10 10 0 1 1-19.98 0v-17.67zm2.92 63.6a10.07 10.07 0 0 1 7.07-2.93 10.03 10.03 0 0 1 10 10 10.03 10.03 0 0 1-10 9.98c-2.63 0-5.2-1.07-7.07-2.93-1.86-1.85-2.93-4.43-2.93-7.06s1.07-5.2 2.93-7.06zM86.94 277.1c8.15-30.9 50.16-64.53 55.4-68.63a10 10 0 0 1 12.31 0c5.25 4.1 47.26 37.73 55.4 68.63H86.95z"/></svg>
                    </div>
                </div>
            </div>
            <div class="campaign-panel">
                <div class="campaign-slider">
                    <button class="campaign-button campaign-left" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: scale(-1,1)">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p1hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image campaign-image-selected" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p2hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p3hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p4hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p5hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button" aria-label="campaign button">
                        <img 
                        src="./img/c15p7hasFull-icon.jpg"

                        alt="Ph: @chinxzam"
                        class="campaign-image" draggable="false" />
                    </button>
                    <button class="campaign-button campaign-right" aria-label="campaign button">
                        <svg class="campaign-button-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                            <use xlink:href="#campaign-button-svg"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Slide about me -->
    <div class="slide-about">
        <div class="about-image">
            <img src="./img/avatar.jpg" alt="That's me <3" class="sliderimage 4-5" draggable="false">
        </div>
        <div class="about-text">
            <div style="display: flex; justify-content: space-evenly; width: 70%; flex-direction: column; align-items: center">
                <h2 id="about-text">
                    Hi! I'm here to help you spare your time and achieve your creative vision by managing post production on a high level.<br><br>My clients are photographers and brands from all over the world, including SKIMS, ASICS, ZARA and more. Feel free to contact me for any details.<br><br>I'm looking forward to working with you!
                </h2>
                <div class="about-logos">
                    <div>
                        <img src="./svg/Asics.svg" alt="Asics Logo" draggable="false">
                        <img src="./svg/Skims.svg" alt="SKIMS Logo" draggable="false">
                        <img src="./svg/Zara.svg" alt="Zara Logo" draggable="false">
                    </div>
                    <div>
                        <img src="./svg/Colette-by-colette-hayman.svg" alt="Colette Logo" draggable="false">
                        <img src="./svg/Bellissima.svg" alt="Bellissima Logo" class="belissima" draggable="false">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Control buttons -->
    <svg class="defs-only" xmlns="http://www.w3.org/2000/svg">
        <symbol id="slider-button-svg">
            <path d="M51.6 106.9s-5.3-4.4-5.3-11.8c0-7.3 5.3-11.8 5.3-11.8l63.9-64c1.8-1.8 2.9-4.3 2.9-6.9 0-5.5-4.4-9.9-9.9-9.9H88.3c-2.6 0-5.1 1-7 2.9l-71 70.9c-5.2 5.2-7.8 11-7.8 18.8 0 7.9 2.6 13.7 7.8 18.9l71 70.9c1.9 1.9 4.4 2.9 7 2.9h20.2c5.5 0 9.9-4.4 9.9-9.9 0-2.6-1-5.1-2.9-6.9l-63.9-64.1z" class="st0"/>
        </symbol>
    </svg>
    <div class="slider-button slider-prev">
        <svg viewBox="0 0 120 185" width="50" height="50" class="slider-prev" id="slider-prev-svg">
            <use xlink:href="#slider-button-svg"/>
        </svg>
    </div>
    <div class="slider-button slider-next">
        <svg viewBox="0 0 120 185" width="50" height="50" class="slider-next active">
            <use xlink:href="#slider-button-svg"/>
        </svg>
    </div>
</section>

<style lang="sass">
@import '../styles/vars'
section.slider
  user-select: none
  height: 100%
  position: relative
  overflow: hidden
  .container
    display: flex
    flex-direction: column
    justify-content: center
  h2
    text-align: center
    font-size: 1.2em
  div.slide-about
    background: white
    position: absolute
    height: 100%
    display: flex
    width: 100%
    @media (max-width : 576px)
      flex-direction: column
    div.about-image
      background: $color_carousel_starter
      width: 50%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      @media (max-width : 576px)
        height: 40%
        width: 100%
      img
        width: 58%
        @media (max-width : 576px)
         height: 80%
         width: auto
    div.about-text
      width: 50%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      @media (max-width : 576px)
        height: 60%
        width: 100%
      div
        @media (max-width : 576px)
          height: 100%
          margin-top: 20px
    h2#about-text
      height: 100%
      text-align: center
      color: $color_text
      font-weight: 600
      font-size: 1.2vmax 
      @media (max-width : 576px)
        font-size      : 1.8vmax 
  div.slide
    background: $color_bg
    position: absolute
    height: 100%
    display: flex
    width  : 100%
    @media (max-width : 576px)
      width  : 200%
      //flex-direction: column
    div.container.slide-third
      padding-right: 0
      padding-left: 0
      max-width: 100%
      @media (max-width : 576px)
        display: flex
        justify-content: space-between
      div.row
        height: 100%
        div.slide-third
          @media (max-width : 576px)
            height: 50%
        div.slide-third.order-1
          div.row
            div
              @media (min-width : 577px)
                margin-left: 25%
        div.slide-third.order-2
          div.row
            div
              @media (min-width : 577px)
                margin-left: 0
        div.slide-third.order-3
          div.row
            height: 80%
            div
              height: 100%
              img
                height: 100%
    div.slide-half
      position: relative
      width : 50%
      height: 100%
      //@media (max-width : 576px)
        //width : 100%
        //height: 50%
      div.row
        //height: 100%
        @media (max-width : 576px)
          height: 100%
          align-content: flex-start
        div
          display        : flex
          justify-content: center
          height: 95%
          @media (max-width : 576px)
            height: 68%
            margin-top: 4vh
      div.row-email
        margin-bottom: 20px
        @media (max-width : 576px)
          height: 20%
          margin-bottom: 0
      div.row-instagram
        @media (max-width : 576px)
          height: 20%
          margin-bottom: 30px
    .swipe-panel
      position: absolute
      bottom: 10px
      width: 50%
      left: 0
      @media (max-width : 576px)
        bottom: 18px
        transform: scale(0.8)
        //width: 100%
  div.slide-picture
    height        : 100%
  .container
    height: 100%
  div.campaign0
    background    : $color_carousel_starter
  div.campaign1
    background    : $color_none
  div.campaign2
    background    : $color_carousel_starter
  div.campaign3
    background    : $color_carousel_starter
  div.campaign4
    background    : $color_none
  div.campaign5
    background    : $color_none
  div.campaign6
    background    : $color_carousel_starter
  div.campaign7
    background    : $color_carousel_starter
  div.campaign8
    background    : $color_none
  div.campaign9
    background    : $color_none
  div.campaign10
    background    : $color_carousel_starter
  div.campaign11
    background    : $color_carousel_starter

img.sliderimage
  display: block
  width: 100%
  object-fit: contain
  user-drag: none
  user-select: none
  poiner-events: none

.about-logos
  display: flex
  flex-wrap: wrap
  width: 30vw
  height: 20%
  bottom: 5vh
  justify-content: center
  @media (max-width : 576px)
    height: 60% !important
    width: 75vw
  div
    display: flex !important
    height: auto !important
    margin-top: 0 !important
    >*
      margin-left: 10px !important
      margin-bottom: 10px !important
  img
    width: 7vw
    object-fit: contain
    @media (max-width : 576px)
      width: 17vw
  img.belissima
    width: 14vw
    @media (max-width : 576px)
      width: 24vw
    
.loadingimage-div
  margin: 0 !important
  opacity: 0
  position: absolute
  height: 100% !important
  width: 100% !important
  display: flex
  justify-content: center
  align-items: center
  pointer-events: none
  transition: 0.2s opacity

.loadingimage-svg
  position: absolute
  object-fit: contain
  height: 30px
  width: 30px
  opacity: $opacity_cursor
  fill: $color_cursor
  animation: spin 1s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

</style>
<style lang="sass" is:global>
    @import '../styles/vars'

    
div.slider-button
  pointer-events: none
  position: absolute
  user-drag: none
  user-select: none
  height: 100%
  width: 5%
  display: flex
  align-items: center
  justify-content: center
  @media (max-width : 576px)
    width: 15%
    align-items: flex-end
    padding-bottom: 20px
  svg
    pointer-events: all
    display: block
    opacity: 0.1
    transition: 0.5s opacity, 0.2s transform
    fill: $color_text
  svg.slider-prev
    opacity: 0
  svg.slider-next
    transform: scale(-1,1)
    opacity: 0
  svg.slider-next.active
    opacity: 0.2
  svg.slider-prev.active
    opacity: 0.2

div.slider-prev
    left: 0
    justify-content: flex-end
div.slider-next
    justify-content: flex-start
    right: 0
.defs-only
    display: none
    
.campaign-panel
    position: absolute
    width: calc(100% - 30px)
    bottom: 0
    display: flex
    justify-content: center
    height: 50px !important
    pointer-events: none

.campaign-slider
    display: flex
    bottom: 20px
    position: absolute
    pointer-events: auto
    @media (max-width : 576px)
        bottom: 25px

.campaign-button
    user-drag: none
    user-select: none
    background: none
    border: 0
    margin: 0 10px
    padding: 0
    transition: 0.15s transform linear
    width: 30px
    height: 40px
    transform: scale(1)
    @media (max-width : 576px)
        margin: 0 7px
.campaign-right 
    @media (max-width : 576px)
        display: none
        //margin: 0
.campaign-left 
    @media (max-width : 576px)
        display: none
        //margin: 0
    
.campaign-button:hover
    transform: scale(1.2)

.campaign-button.pressed
    transform: scale(0.85)

.campaign-button-svg
    fill: rgba($color_text, 0.2)
    height: 100%
    width: 100%

.campaign-image
    height: 100%
    width: 100%
    object-fit: contain
    user-drag: none
    user-select: none
    opacity: 0.5
    transition: 0.1s opacity

.campaign-image-selected
    opacity: 0.9

</style>

<script>
    import $ from "jquery";

    // Select all slides
    const slides = document.querySelectorAll(".slide") as NodeListOf<HTMLElement>;
    const slide_about = document.querySelector(".slide-about") as HTMLElement;
    // maximum number of slides
    const maxSlide = slides.length - 1;
    // Select all images
    const campaign_images = document.querySelectorAll('.campaign-image') as NodeListOf<HTMLImageElement>;
    // reverse the list
    // also note slidesposition, it looks like: -200, -100, 0
    const slidesreversed = [];
    let i = 0;
    let slidesposition = [];
    let slide_about_position = 1000;
    if(slide_about) slide_about.style.transform = `translateX(${slide_about_position}%)`;
    while(i <= maxSlide) {
        slidesreversed.push(slides[i])
        slidesposition.push(100 * (i))
        i++
    }
    // loop through slides and set each slides translateX property to index * -100% 
    slidesreversed.forEach((slide, indx) => {
        slide.style.transform = `translateX(${indx * 100}%)`;
    });
    // 0, -100, -200, etc.
    // so the slides list looks like: -200, -100, 0
    // select next slide button
    const nextSlide = $("div.slider-next");
    const nextSlidesvg = $("svg.slider-next");
    // select prev slide button
    const prevSlide = $("div.slider-prev");
    const prevSlidesvg = $("svg.slider-prev");

    //cursor
    const cursorshape = $("#cursor-shape");
    const cursortext =  $("#cursor-text");
    const cursorzoom = $("#cursor-zoom");

    // how much smaller the buttons become when you click on em
    const svgTransform = 0.6

    // current slide counter
    let curSlide = 1; // starting at the pre-last slide

    function goToNSlide(n) {
        while(curSlide < n) {
            goToNextSlide()
        }
        while(curSlide > n) {
            goToPrevSlide()
        }
    }

    function goToNextSlide() {
        // remember this also includes slide_single
        if (curSlide === slides.length * 2 + 1) {
            return;
        } else {
            curSlide++;
        }
        if(curSlide === slides.length * 2 + 1) {
            nextSlidesvg.removeClass('active');
        }
        prevSlidesvg.addClass('active');
        nextSlidesvg.css('transform', `scale(${-svgTransform}, ${svgTransform})`)
        setTimeout(() =>  {
            nextSlidesvg.css('transform', 'scale(-1, 1)')
        }, 200);
        //   move slide by 50%
        //-50% <= 50 * -1 <= indx 0 - (curSlide 3 - 2 = 1)= -1
        //50% <= 50 * 1 <= indx 1 - (curSlide 3 - 2 = 1) = 2
        slides.forEach((slide: HTMLElement, indx) => {
            slidesposition[indx] = slidesposition[indx] - 50
            slide.style.transition = "transform 0.9s";
            slide.style.transform = `translateX(${slidesposition[indx]}%)`;
        });
        slide_about_position -= 100;
        slide_about.style.transition = "transform 0.9s";
        slide_about.style.transform = `translateX(${slide_about_position}%)`;
        if(curSlide === slides.length * 2 + 1) {
            $(".swipe-about").addClass("active");
            $(".swipe-contact").removeClass("active");
            $(".swipe-works").removeClass("active");
        } else if(curSlide <= 2) {
            $(".swipe-contact").addClass("active");
            $(".swipe-works").removeClass("active");
            $(".swipe-about").removeClass("active");
        } else {
            $(".swipe-works").addClass("active");
            $(".swipe-contact").removeClass("active");
            $(".swipe-about").removeClass("active");
        }
    }

    function goToPrevSlide() {
        if (curSlide === 1) {
            return;
        } else {
            curSlide--;
        }
        if(curSlide === 1) $('#slider-prev-svg').removeClass('active');
        nextSlidesvg.addClass('active');
        prevSlidesvg.css('transform', `scale(${svgTransform})`)
        setTimeout(() =>  {
            prevSlidesvg.css('transform', 'scale(1)')
        }, 200);
        //   move every slide by -100%
        slides.forEach((slide: HTMLElement, indx) => {
            slidesposition[indx] = slidesposition[indx] + 50
            slide.style.transition = "transform 0.9s";
            slide.style.transform = `translateX(${slidesposition[indx]}%)`;
        });
        slide_about_position += 100;
        slide_about.style.transition = "transform 0.9s";
        slide_about.style.transform = `translateX(${slide_about_position}%)`;
        if(curSlide === slides.length * 2 + 1) {
            $(".swipe-about").addClass("active");
            $(".swipe-contact").removeClass("active");
            $(".swipe-works").removeClass("active");
        } else if(curSlide <= 2) {
            $(".swipe-contact").addClass("active");
            $(".swipe-works").removeClass("active");
            $(".swipe-about").removeClass("active");
        } else {
            $(".swipe-works").addClass("active");
            $(".swipe-contact").removeClass("active");
            $(".swipe-about").removeClass("active");
        }
    }
    // add event listener and navigation functionality
    nextSlide.on("click", function () {
        if($("div.image-zoomed").css('display') === 'flex') {
            for (let index in campaign_images) {
                if(Number(index) < (campaign_images.length - 1) && $('img.image-zoomed').attr('src').replace('-3x2', '').replace('-full', '') === campaign_images[index].src.replace('-icon', '')) {
                    if(Number(index) === (campaign_images.length - 2)) {
                        $("#slider-button-zoomed-right").children()[0].classList.add('active');
                    }
                    $("#slider-button-zoomed-left").children()[0].classList.add('active');
                    let newSrc = "";
                    if(campaign_images[Number(index) + 1].src.includes("has3x2")) {
                        newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '').replace('.jpg', '-3x2.jpg');
                    } else if(campaign_images[Number(index) + 1].src.includes("hasFull")) {
                        newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '').replace('.jpg', '-full.jpg');
                    } else {
                        newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '');
                    }
                    let newImage = new Image;
                    $('#loading').css('display', 'flex');
                    cursorshape.addClass(" hidden");
                    cursorzoom.addClass(" hidden");
                    cursortext.addClass(" hidden");
                    newImage.onload = function() {
                        $('#loading').css('display', 'none');
                        cursorshape.removeClass(" hidden");
                        cursorzoom.removeClass(" hidden");
                        cursortext.removeClass(" hidden");
                        $('img.image-zoomed').attr('src', newSrc);
                    }
                    newImage.src = newSrc;
                    $('img.image-zoomed').attr('alt', campaign_images[Number(index) + 1].alt);
                    return;
                }
            }
        } else {
            const isMobileDevice = $(window).width() <= 480;
            goToNextSlide();
            if(isMobileDevice) return;
            goToNextSlide();
        }
    });

    prevSlide.on("click", function () {
        if($("div.image-zoomed").css('display') === 'flex') {
            for (let index in campaign_images) {
                if(Number(index) > 0 && $('img.image-zoomed').attr('src').replace('-3x2', '').replace('-full', '') === campaign_images[index].src.replace('-icon', '')) {
                    if(Number(index) === 1) {
                        $("#slider-button-zoomed-left").children()[0].classList.remove('active');
                    }
                    $("#slider-button-zoomed-right").children()[0].classList.add('active');
                    let newSrc = "";
                    if(campaign_images[Number(index) - 1].src.includes("has3x2")) {
                        newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '').replace('.jpg', '-3x2.jpg');
                    } else if(campaign_images[Number(index) - 1].src.includes("hasFull")) {
                        newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '').replace('.jpg', '-full.jpg');
                    } else {
                        newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '');
                    }
                    let newImage = new Image;
                    $('#loading').css('display', 'flex');
                    cursorshape.addClass(" hidden");
                    cursorzoom.addClass(" hidden");
                    cursortext.addClass(" hidden");
                    newImage.onload = function() {
                        $('#loading').css('display', 'none');
                        cursorshape.removeClass(" hidden");
                        cursorzoom.removeClass(" hidden");
                        cursortext.removeClass(" hidden");
                        $('img.image-zoomed').attr('src', newSrc);
                    }
                    newImage.src = newSrc;

                    $('img.image-zoomed').attr('alt', campaign_images[Number(index) - 1].alt);
                    return;
                }
            }
        } else {
            const isMobileDevice = $(window).width() <= 480;
            goToPrevSlide();
            if(isMobileDevice) return;
            goToPrevSlide();
        }
    });

    $(".swipe-about").on("click", function () {
        this.style.transition = '0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform';
        this.style.transform = 'scale(0.95)';
        setTimeout(() =>  {
            this.style.transform = 'scale(1)';
        }, 200);
        goToNSlide(slides.length * 2 + 1);
    });

    $(".swipe-contact").on("click", function () {
        this.style.transition = '0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform';
        this.style.transform = 'scale(0.95)';
        setTimeout(() =>  {
            this.style.transform = 'scale(1)';
        }, 200);
        goToNSlide(1);
    });

    $(".swipe-works").on("click", function () {
        this.style.transition = '0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform';
        this.style.transform = 'scale(0.95)';
        setTimeout(() =>  {
            this.style.transform = 'scale(1)';
        }, 200);
        goToNSlide(3);
    });

    $( "body" ).keydown(function(e) {
        if(e.which === 39) {
            if($("div.image-zoomed").css('display') === 'flex') {
                for (let index in campaign_images) {
                    if(Number(index) < (campaign_images.length - 1) &&  $('img.image-zoomed').attr('src').replace('-3x2', '').replace('-full', '') === campaign_images[index].src.replace('-icon', '')) {
                        if(Number(index) === (campaign_images.length - 2)) {
                            $("#slider-button-zoomed-right").children()[0].classList.remove('active');
                        }
                        $("#slider-button-zoomed-left").children()[0].classList.add('active');

                        let newSrc = "";
                        if(campaign_images[Number(index) + 1].src.includes("has3x2")) {
                            newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '').replace('.jpg', '-3x2.jpg');
                        } else if(campaign_images[Number(index) + 1].src.includes("hasFull")) {
                            newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '').replace('.jpg', '-full.jpg');
                        } else {
                            newSrc = campaign_images[Number(index) + 1].src.replace('-icon', '');
                        }
                        let newImage = new Image;
                        $('#loading').css('display', 'flex');
                        cursorshape.addClass(" hidden");
                        cursorzoom.addClass(" hidden");
                        cursortext.addClass(" hidden");
                        newImage.onload = function() {
                            $('#loading').css('display', 'none');
                            cursorshape.removeClass(" hidden");
                            cursorzoom.removeClass(" hidden");
                            cursortext.removeClass(" hidden");
                            $('img.image-zoomed').attr('src', newSrc);
                        }
                        newImage.src = newSrc;
                        $('img.image-zoomed').attr('alt', campaign_images[Number(index) + 1].alt);
                        return;
                    }
                }
                return;
            } else {
                const isMobileDevice = $(window).width() <= 480;
                goToNextSlide();
                if(isMobileDevice) return;
                goToNextSlide();
            }
        }
        else if(e.which === 37) {
            if($("div.image-zoomed").css('display') === 'flex') {
                for (let index in campaign_images) {
                    if(Number(index) > 0 && $('img.image-zoomed').attr('src').replace('-3x2', '').replace('-full', '') === campaign_images[index].src.replace('-icon', '')) {
                        if(Number(index) === 1) {
                            $("#slider-button-zoomed-left").children()[0].classList.remove('active');
                        }
                        $("#slider-button-zoomed-right").children()[0].classList.add('active');
            
                        let newSrc = "";
                        if(campaign_images[Number(index) - 1].src.includes("has3x2")) {
                            newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '').replace('.jpg', '-3x2.jpg');
                        } else if(campaign_images[Number(index) - 1].src.includes("hasFull")) {
                            newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '').replace('.jpg', '-full.jpg');
                        } else {
                            newSrc = campaign_images[Number(index) - 1].src.replace('-icon', '');
                        }
                        let newImage = new Image;
                        $('#loading').css('display', 'flex');
                        cursorshape.addClass(" hidden");
                        cursorzoom.addClass(" hidden");
                        cursortext.addClass(" hidden");
                        newImage.onload = function() {
                            $('#loading').css('display', 'none');
                            cursorshape.removeClass(" hidden");
                            cursorzoom.removeClass(" hidden");
                            cursortext.removeClass(" hidden");
                            $('img.image-zoomed').attr('src', newSrc);
                        }
                        newImage.src = newSrc;
                        $('img.image-zoomed').attr('alt', campaign_images[Number(index) - 1].alt);
                        return;
                    }
                }
                return;
            } else {
                const isMobileDevice = $(window).width() <= 480;
                goToPrevSlide();
                if(isMobileDevice) return;
                goToPrevSlide();
            }
        }
    });
        
    let getEvent = function(event: any) {
        return event.type.search('touch') !== -1 ? event.touches[0] : event;
        // p.s. event -     
    }
    let posInit = 0;
    let posX1 = 0;
    let posFinal = 0;
    let slideWidth = slides[0].offsetWidth;
    let posThreshold = slideWidth * 0.106;
    function swipeStart(event: any) {
        let evt = getEvent(event);
    
        //       
        posInit = posX1 = evt.clientX;
    
        //        
        document.addEventListener('touchmove', swipeAction);
        document.addEventListener('touchend', swipeEnd);
        document.addEventListener('mousemove', swipeAction);
        document.addEventListener('mouseup', swipeEnd);
    }
    function swipeAction(event: any) {
        let evt = getEvent(event);
        posX1 = evt.clientX;
    }
    function swipeEnd() {
        //   
        posFinal = posInit - posX1;
    
        document.removeEventListener('touchmove', swipeAction);
        document.removeEventListener('mousemove', swipeAction);
        document.removeEventListener('touchend', swipeEnd);
        document.removeEventListener('mouseup', swipeEnd);
    
        //         
        if (Math.abs(posFinal) > posThreshold) {
            
            //    ,     
            if (posInit < posX1) {
                const isMobileDevice = $(window).width() <= 480;
                goToPrevSlide();
                if(isMobileDevice) return;
                goToPrevSlide();
            //    ,     
            } else if (posInit > posX1) {
                const isMobileDevice = $(window).width() <= 480;
                goToNextSlide();
                if(isMobileDevice) return;
                goToNextSlide();
            }
        }
    }

    $('.slider').on('touchstart', swipeStart);
    $('.slider').on('mousedown', swipeStart);

    // campaign slider
    
    function handleCampgaignSelectImage(event) {
        const pressedImage = event.target;
        if(!pressedImage) return;

        const targetSrc = pressedImage.src;
        if(targetSrc && !pressedImage.classList.contains("campaign-image-selected")) {
            const mainImage = pressedImage.closest('.campaign-panel').previousElementSibling.children[0].children[0];
            if(!mainImage) return;
            const loadingimage = mainImage.nextElementSibling;
            if(loadingimage) loadingimage.style.opacity = '1';
            mainImage.onload = () => {
                if(loadingimage) loadingimage.style.opacity = '0';
                if(targetSrc.includes('landscape')) {
                    mainImage.parentNode.classList.remove("col-md-8", "offset-md-2");
                    mainImage.parentNode.classList.add("col-md-10", "offset-md-1");
                } else {
                    mainImage.parentNode.classList.remove("col-md-10", "offset-md-1");
                    mainImage.parentNode.classList.add("col-md-8", "offset-md-2");
                }
            };
            mainImage.src = `${targetSrc.replace('-icon', '-min')}`
            mainImage.dataset.src = `${targetSrc.replace('-icon', '')}`
            mainImage.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
            mainImage.dataset.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
            const campaignButtons  = pressedImage.parentNode.parentNode.children;
            for(const campaignButton of campaignButtons) {
                const campaignImage = campaignButton.children[0];
                if(!campaignImage) return;
                if(campaignImage.classList.contains("campaign-image-selected")) {
                    campaignImage.classList.remove("campaign-image-selected");
                }
            }
            pressedImage.classList.add("campaign-image-selected");
            pressedImage.parentNode.classList.add('pressed')
            setTimeout(() =>  {
                pressedImage.parentNode.classList.remove('pressed')
            }, 200);
        }
    };

    const handleCampgaignRight = (event) => {
        const pressedElement = event.target;
        if(!pressedElement) return;
        let pressedButton = pressedElement;
        if(pressedElement.nodeName != "BUTTON") {
            pressedButton = pressedButton.closest("button")
        }
        const siblings  = pressedButton.parentNode.children;
        
        for(const sibling of siblings) {
            const siblingImage = sibling.children[0];
            if(!siblingImage) return;
            if(siblingImage.classList.contains("campaign-image-selected")) {
                if(!sibling.nextElementSibling) return;
                const targetImage = sibling.nextElementSibling.children[0]
                if(!targetImage) return;
                const targetSrc = targetImage.src;
                if(!targetSrc) return;
                const mainImage = sibling.closest('.campaign-panel').previousElementSibling.children[0].children[0];
                if(!mainImage) return;
                const loadingimage = mainImage.nextElementSibling;
                if(loadingimage) loadingimage.style.opacity = '1';
                mainImage.onload = () => {
                    if(loadingimage) loadingimage.style.opacity = '0';
                    if(targetSrc.includes('landscape')) {
                        mainImage.parentNode.classList.remove("col-md-8", "offset-md-2");
                        mainImage.parentNode.classList.add("col-md-10", "offset-md-1");
                    } else {
                        console.log(mainImage.parentNode)
                        mainImage.parentNode.classList.remove("col-md-10", "offset-md-1");
                        mainImage.parentNode.classList.add("col-md-8", "offset-md-2");
                    };
                }
                mainImage.src = `${targetSrc.replace('-icon', '-min')}`
                mainImage.dataset.src = `${targetSrc.replace('-icon', '')}`
                mainImage.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
                mainImage.dataset.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
                targetImage.classList.add("campaign-image-selected");
                siblingImage.classList.remove("campaign-image-selected");
                pressedButton.classList.add('pressed')
                setTimeout(() =>  {
                    pressedButton.classList.remove('pressed')
                }, 200);
                return;
            }
        }
    }

    const handleCampgaignLeft = (event) => {
        const pressedElement = event.target;
        if(!pressedElement) return;
        let pressedButton = pressedElement;
        if(pressedElement.nodeName != "BUTTON") {
            pressedButton = pressedButton.closest("button")
        }
        const siblings  = pressedButton.parentNode.children;
        
        for(const sibling of siblings) {
            const siblingImage = sibling.children[0];
            if(!siblingImage) return;
            if(siblingImage.classList.contains("campaign-image-selected")) {
                if(!sibling.previousElementSibling) return;
                const targetImage = sibling.previousElementSibling.children[0]
                if(!targetImage) return;
                const targetSrc = targetImage.src;
                if(!targetSrc) return;
                const mainImage = sibling.closest('.campaign-panel').previousElementSibling.children[0].children[0];
                if(!mainImage) return;
                const loadingimage = mainImage.nextElementSibling;
                if(loadingimage) loadingimage.style.opacity = '1';
                mainImage.onload = () => {
                    if(loadingimage) loadingimage.style.opacity = '0';
                    if(targetSrc.includes('landscape')) {
                        mainImage.parentNode.classList.remove("col-md-8", "offset-md-2");
                        mainImage.parentNode.classList.add("col-md-10", "offset-md-1");
                    } else {
                        mainImage.parentNode.classList.remove("col-md-10", "offset-md-1");
                        mainImage.parentNode.classList.add("col-md-8", "offset-md-2");
                    };
                }
                mainImage.src = `${targetSrc.replace('-icon', '-min')}`
                mainImage.dataset.src = `${targetSrc.replace('-icon', '')}`
                mainImage.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
                mainImage.dataset.srcset = `${targetSrc.replace('-icon', '-lowq')} 500w, ${targetSrc.replace('-icon', '')} 900w`;
                targetImage.classList.add("campaign-image-selected");
                siblingImage.classList.remove("campaign-image-selected");
                pressedButton.classList.add('pressed')
                setTimeout(() =>  {
                    pressedButton.classList.remove('pressed')
                }, 200);
                return;
            }
        }
    }

    const campaignImages = document.querySelectorAll('.campaign-image');

    for(const image of campaignImages) {
        image.addEventListener('click', handleCampgaignSelectImage);
    }


    const campaignRightButtons = document.querySelectorAll('.campaign-right');

    for(const button of campaignRightButtons) {
        button.addEventListener('click', handleCampgaignRight);
    }

    const campaignLeftButtons = document.querySelectorAll('.campaign-left');

    for(const button of campaignLeftButtons) {
        button.addEventListener('click', handleCampgaignLeft);
    }

</script>